<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <body bgcolor="#FFFFFF">
    <table cellspacing=3 cellpadding=4 width="100%">
      <tr>
	<td bgcolor="#101010" align="bottom">
	  <center><a href="http://www.openrpg.com"><img src="images/splash.gif"></a></center>
	</td>
      </tr>
      <tr>
	<td bgcolor="#101010" align="center">
	  <font size="+4" color="#FFFFFF"><b><br>Version VeRsIoNrEpLaCeMeNtStRiNg<br></b></font>
	</td>
      </tr>
      <tr>
	<td bgcolor="#73A183" align="center">
	  <b><font size="+1">Special thanks to Chris Davis for this endeavor</a></font></b>
	  <p>
	  <table cellpadding="0" cellspacing="0" width="100%">
	    <tr>
	      <td align="center" width="100%">
		Of course, many thanks goes to all of those who contributed.
		<BR>
		The developers in alphabetical order are:
		<BR>
		Thomas Baleno, Andrew Bennett, Lex Berezhny, Ted Berg,
		Bernhard Bergbauer, Chris Blocher, David Byron, Ben Collins-Sussman, Robin Cook, Greg Copeland,
		Chris Davis, Michael Edwards, Andrew Ettinger, Todd Faris, Dj Gilcrease,
        Christopher Hickman, Paul Hosking, Brian Manning, Scott Mackay, Jesse McConnell, 
		Brian Osman, Rome Reginelli, Christopher Rouse, Dave Sanders, Tyler Starke, and Mark Tarrabain.
	      </td>
	    </tr>
	    <tr>
	      <td align="center" width="100%">
		<a href="http://www.python.org"><img src="images/python55.gif"></a>
		<a href="http://www.wxwindows.org"><img src="images/wxWinButton.png"></a>
		<a href="http://www.wxpython.org"><img src="images/wxPyButton.png"></a>
		<a href="http://www.sourceforge.net"><img src="images/sflogo.png"></a>
	      </td>
	    </tr>
	    <tr>
	      <td align="center" width="100%">
		This product is licensed under the <a href="http://www.gnu.org">GNU</a> <a href="http://www.gnu.org/philosophy/license-list.html">GPL License.</a>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>

<!-- Created: Fri Jun  1 17:32:22 CDT 2001 -->
  </body>
</html>
