<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<table width="100%" border="3" cellpadding="4" cellspacing="1" >
  <tr>
    <th bgcolor="#D4ECFB" align="left" valign="top">
      <strong>Welcome to an OpenRPG Server</strong>
        <br />
        Add a message here.
    </th>
    <th bgcolor="#73A183" width="45%" align="left" valign="top">
      <strong>The OpenRPG Project</strong>
        <br />
        Who is this force?
    </th> </th> <!-- I have to close the header twice? That's a disability.-->
  </tr>  
  <tr>
    <td border="2" bgcolor="#ECECEC" valign="top">
    Here is an example Room Message that can be easily modified to fit the needs of your server.
    The room message has two rows and two cells. One row is for headers, and one row is for cells.
    The main area here can be an introduction, and the side area to the right can contain a game schedule.
    <p>If you have created a Wiki or forums, be sure and put links to those as well.</p>
    </td>    
    <td border="2" bgcolor="#D5E9D7" valign="top">
    Thomas Baleno, Andrew Bennett, Lex Berezhny, Ted Berg,
    Bernhard Bergbauer, Chris Blocher, Ben Collins-Sussman, Robin Cook, Greg Copeland,
    Chris Davis, Michael Edwards, Andrew Ettinger, Dj Gilcrease, Todd Faris,
    Christopher Hickman, Paul Hosking, Scott Mackay, Brian Manning,
    Jesse McConnell, Brian Osman, Rome Reginelli, Christopher Rouse, Dave Sanders, Mark Tarrabain,
    David Byron, David Vrabel, and Tyler Starke.
    <p>And of course, the Community!</p>
    <p>Many thanks to all who contributed!</p>
    </td>
  </tr>
</table>

</html>

