<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <body>
    <table cellspacing=3 cellpadding=4 width="100%">
      <tr>
       <td bgcolor="#101010" align="bottom">
         <center><a href="http://www.openrpg.com"><img src="images/splash.gif" border="0"></a></center>
       </td>
      </tr>
      <tr>
        <td bgcolor="#73A183" align="center">
         <table cellpadding="0" cellspacing="0" width="100%">
           <tr>
            <td align="center" width="100%">
             Many thanks goes to all of those who contributed!
             <BR>
              The developers in alphabetical order are:
             <BR>
            Thomas Baleno, Andrew Bennett, Lex Berezhny, Ted Berg,
            Bernhard Bergbauer, Chris Blocher ,Ben Collins-Sussman, Robin Cook, Greg Copeland,
            Chris Davis, Michael Edwards, Andrew Ettinger, Dj Gilcrease, Todd Faris,
            Christopher Hickman, Paul Hosking, Scott Mackay, Brian Manning,
            Jesse McConnell, Brian Osman, Rome Reginelli, Christopher Rouse, Dave Sanders and Mark Tarrabain.
            </td>
              </tr>
                <tr>
                <td align="center" width="100%">
                This product is licensed under the <a href="http://www.gnu.org">GNU</a> <a href="http://www.gnu.org/philosophy/license-list.html">GPL License.</a>
             </td>
             </tr>
            </table>
           </td>
      </tr>
    </table>

<!-- Created: Thursday November 9 23:55:12 PDT 2003 -->
  </body>
</html>

